!!! 5
html(lang="en")
	head
		title Project Title
		script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
		script(type='text/javascript', src="js/pretiffy.js")
		script(type='text/javascript', src="js/kickstart.js")
		link(rel="stylesheet", type="text/css", href="css/kickstart.css", media="all")
		link(rel="stylesheet", type="text/css", href="style.css", media="all")
	body
		a#top-of.page
		div#wrap.clearfix
		img(src="logo.png").center
		#container!= body