ul.menu
	li.current
		a Home
	li
		a(href="/write")
			span.icon.medium.gray(data-icon="7")
			span Write a document
	li
		a(href="/register")
			span.icon.medium.gray(data-icon="7")
			span register
	li
		form
			input(type="text" placeholder="name@domain.com")
			input(type="password" placeholder="Password")
			input(type="button" value="Log In")
	div.col_12
		h1.center Welcome
		p.center(style="font-size:14px;color:#black;margin-bottom:40px;") 
			|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
